@use "../../styles/variables" as *;

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;

  & p {
    font-size: 120px;
    transition: font-weight .3s ease-in-out;
    line-height: 95%;
  }
}

.focus {
  color: $red-dark;
  background-color: $red-light;
}

.shortBreak {
  color: $green-dark;
  background-color: $green-light;
}

.longBreak {
  color: $blue-dark;
  background-color: $blue-light;
}
