// Colors
$red: #ff4c4c;
$red-dark: #471515;
$red-light: #fff2f2;
$red-alpha: #FF4C4C25;

$green: #4dda6e;
$green-dark: #14401d;
$green-light: #f2fff5;
$green-alpha: #4DDA6E25;

$blue: #4CACFF;
$blue-dark: #153047;
$blue-light: #F2F9FF;
$blue-alpha: #4CACFF25;
